@using Dungeon.Data.Identity
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="RPG Dungeon Game">
    <meta name="author" content="Fredrik Rönnehag">

    <title>Dungeon Game</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" asp-append-version="true">
</head>

<body>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <aside class="border-right bg-black" id="sidebar-wrapper">
            <div class="sidebar-heading text-center"> Dungeon Game</div>
            <div class="list-group nav-list">
                <a href="#" class="list-group-item"><i class="fas fa-home"></i> Home</a>
                <a href="#" class="list-group-item"><i class="fas fa-user"></i> Character</a>
                <a href="#" class="list-group-item"><i class="fas fa-khanda"></i> Arena</a>
                <a href="#" class="list-group-item"><i class="fas fa-dungeon"></i> Dungeon</a>
                <a href="#" class="list-group-item"><i class="fas fa-hammer"></i> Blacksmith</a>
                <a href="#" class="list-group-item"><i class="fas fa-beer"></i> Tavern</a>
                <div class="container login-container">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <partial name="_SideBarLoggedIn" />
                    }
                    else
                    {
                        <section class="container mt-5 text-center">
                            <h5>New user?</h5>
                            <div class="row mt-4">
                                <div class="col-12">
                                    <a class="btn btn-login" asp-controller="Account" asp-action="Login">Log in</a>
                                    <a class="btn btn-secondary" asp-controller="Account" asp-action="RegisterAccount">Register</a>
                                </div>
                            </div>
                        </section>

                    }
                </div>

            </div>
        </aside>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <header class="black-bg main-header border-bottom">
                <a class="btn btn-toggler ml-2 mt-1 mb-1 menu-toggler" id="menu-toggle"><i class="fas fa-bars"></i></a>
            </header>


            <div class="container mt-5">
                @RenderBody()
            </div>





        </div>     <!-- /#page-content-wrapper -->
    </div>   <!-- /#wrapper -->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <!-- Unobtrusive AJAX -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>


    <!-- SIDEMENU TOGGLER SCRIPT -->
    <script>
        $("#menu-toggle").click(function (e) {
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>

</html>