
<form class="text-center mt-5">
    <div class="form-group">
        <input class="form-control form-control-sm" placeholder="username" />
    </div>
    <div class="form-group">
        <input class="form-control form-control-sm" placeholder="password" />
    </div>
    <button class="btn btn-login btn-sm">Log in</button>
    <a asp-controller="Account" asp-action="RegisterAccount" class="btn btn-secondary btn-sm">Register</a>
</form>
