@using Dungeon.Data.Identity
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

<div class="container-fluid mt-3" id="sidebar-character">
    <div class="row">
        <div class="col-12">
            <p>
                Username: @User.Identity.Name
                <br />
                Character: Lorem Ipsum
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-5">
            <a asp-controller="Account" asp-action="AccountDetails" class="btn btn-sm btn-login"><i class="fas fa-cog"></i> My account</a>
            <a asp-controller="Account" asp-action="LogOut" class="btn btn-sm btn-secondary">Log out</a>
        </div>
    </div>
</div>