@{
    ViewData["Title"] = "CreateCharacter";
}

<div class="container">
    <h1>CreateCharacter</h1>
    <form asp-controller="Character" asp-action="CreateCharacter" method="post">
        
        
        

    </form>



</div>

