
/* ======================================
*  Site variables for color schemas etc.
*  ===================================== */

$fontYellow: #E2AC1C;
$bgBlack: #202020;
$shadowGray: #333;
$fadedBorder: rgba(226, 172, 28, 0.4);
$interfaceRed: #8B0000;
$messageGray: #aaaaaa;
$silver: silver;
$bgWhite: #F5F5F5;

$validationRed: #f00;
$validationRedBorder: #fee;