@using Dungeon.Data.Identity
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@model AccountDetailsViewModel


@{
    ViewData["Title"] = "AccountDetails";
}

<div class="container-fluid mt-5">
   
    <h1>AccountDetails</h1>
    
    <form asp-controller="Account" asp-action="AccountDetails" method="post">
        
        
        
        

    </form>
    
    
    

</div>


